* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: orange;
    width: 100%;
}

header .logo {
    padding: 25px 30px;
    color: antiquewhite;
    font-size: 5em;
    font-family: "Bebas Neue", sans-serif;
    font-weight: bold;
    font-style: normal;
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

.menu {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li{
    margin: 0 15px;
}

.menu a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

body {
    font-family: 'Nunito';
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

p {
    text-align: center;
    margin-bottom: 30px;
    color: #555;
}

form {
    background-color: #ffffff;
    max-width: 500px;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 50px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="file"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    resize: vertical;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #28a745;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #218838;
}

h1 {
    font-size: 5em, ;
}

h2 {
    font-size: 2.7em;
    font-family: "Oswald";
}

h3 {
    font-size: 3em;
    font-family: "Bebas Neue", sans-serif;
}

p {
    font-size: 1.25em;
}

ul {
    list-style: none;
}

li {
    font-size: 1.25em;
}

footer{
    width: 100%;
}

footer p{
    margin: 0;
    padding: 12px;
    color: antiquewhite;
}

footer .container{
    background-color: #203141;
    height: 150px; 
    display: flex;
    justify-content: center;
    align-items: flex-end;

}